html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #468c80;
}

#main {
    height: 100%;
    width: 500px;
}

#rectangle1 {
    position: relative;
    margin-top: 50px;
    margin-left: 35%;
    border: solid 5px;
    height: 70px;
    width: 200px;
    background: #ffedff;

}

#volume_middle {
    width: 50%;
    height: 100%;
    background: #cfbd21;

}

#pimp2 {
    position: absolute;
    margin-top: -55px;
    background: #000;
    height: 30px;
    width: 10px;
    margin-left: -36px;
    left: calc(40% + 160px);
    float: right;
}

#rectangle2 {
    position: relative;
    margin-top: 50px;
    margin-left: 35%;
    border: solid 5px;
    height: 70px;
    width: 200px;
    background: #ffedff;

}

#volume_height {
    width: 100%;
    height: 100%;
    background: #2cb333;

}

#pimp3 {
    position: absolute;
    margin-top: -55px;
    background: #000;
    height: 30px;
    width: 10px;
    margin-left: -36px;
    left: calc(40% + 160px);
    float: right;
}

#rectangle {
    position: relative;
    margin-top: 170px;
    margin-left: 35%;
    border: solid 5px;
    height: 70px;
    width: 200px;
    background: #ffedff;

}

#volume_low {
    width: 10%;
    height: 100%;
    background: #f00;

}

#pimp1 {
    position: absolute;
    margin-top: -55px;
    background: #000;
    height: 30px;
    width: 10px;
    margin-left: -36px;
    left: calc(40% + 160px);
    float: right;
}
